/* Error: expected "{".
 *   ,
 * 3 | $theme-bg: #1a1a1a;
 *   |                   ^
 *   '
 *   sass\abstracts\_variables.scss 3:19  @import
 *   sass\main.scss 1:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 3 \2502  $theme-bg: #1a1a1a;\d\a   \2502                    ^\a   \2575 \a   sass\\abstracts\\_variables.scss 3:19  @import\a   sass\\main.scss 1:9                   root stylesheet';
}
