.heading-primary {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;

  @include respond(phone) {
    font-size: 4.5rem;
  }
}

// .heading-sec {
//   &__mb-bg {
//     margin-bottom: 11rem;
//     @include respond(tab-port) {
//       margin-bottom: 8rem;
//     }
//   }
//   &__mb-med {
//     margin-bottom: 9rem;
//     @include respond(tab-port) {
//       margin-bottom: 8rem;
//     }
//   }
//   &__main {
//     display: block;
//     font-size: 4rem;
//     text-transform: uppercase;
//     letter-spacing: 1px;
//     letter-spacing: 3px;
//     text-align: center;
//     margin-bottom: 3.5rem;
//     position: relative;
//     &--lt {
//       color: #fff;
//       &::after {
//         content: '';
//         background: #fff !important;
//       }
//     }
//     &::after {
//       // Commented out to fix double underline issue
//       content: '';
//     }
//   }
// }

.heading-sm {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 92%;
}

.btn {
  background: #fff;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  border-radius: $commonBorderRadius;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform .3s;

  &:hover {
    transform: translateY(-3px);
  }

  &--bg {
    padding: 1.5rem 8rem;
    font-size: 2rem;
  }

  &--med {
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
  }

  &--theme {
    background: $theme-primary;
    color: #fff;
  }

  &--theme-inv {
    color: $theme-primary;
    background: #fff;
    border: 2px solid $theme-primary;
    box-shadow: none;
    padding: calc(1.5rem - 2px) calc(5rem - 2px);
  }
}

.sec-pad {
  padding: 12rem 0;

  @include respond(tab-port) {
    padding: 8rem 0;
  }
}

.text-primary {
  color: #fff;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
  line-height: 1.6;

  @include respond(phone) {
    font-size: 2rem;
  }
}


.d-none {
  display: none;
}