.main-footer {
<<<<<<< HEAD
  background: $theme-bg; // Match main bg
  color: $theme-white;
  border-top: 2px solid $theme-text;

  &__upper {
    display: flex;
    justify-content: space-between;
    padding: 6rem 0;

    @include respond(tab-port) {
      padding: 6rem 0;
    }

=======
  background: #000;
  color: #fff;
  &__upper {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
    @include respond(tab-port) {
      padding: 6rem 0;
    }
>>>>>>> 83d305b2e572f3c709856668b8e2e8774eb96c8e
    @include respond(phone) {
      display: block;
    }
  }

  &__row-1 {
    order: 2;
<<<<<<< HEAD

    @include respond(phone) {
      margin-bottom: 3rem;
    }
  }

=======
    @include respond(tab-port) {
      margin-bottom: 5rem;
    }
  }
>>>>>>> 83d305b2e572f3c709856668b8e2e8774eb96c8e
  &__row-2 {
    width: 40%;
    order: 1;
    max-width: 50rem;
<<<<<<< HEAD

=======
>>>>>>> 83d305b2e572f3c709856668b8e2e8774eb96c8e
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__short-desc {
<<<<<<< HEAD
    margin-top: 1.5rem;
    color: $theme-text-muted;
    font-size: 1.6rem;
    line-height: 1.7;
    font-family: $default-font;
=======
    margin-top: 2rem;
    color: #eee;
    font-size: 1.5rem;
    line-height: 1.7;
>>>>>>> 83d305b2e572f3c709856668b8e2e8774eb96c8e
  }

  &__social-cont {
    margin-top: 2rem;
  }

  &__icon {
<<<<<<< HEAD
    margin-right: 1.5rem;
    width: 2.5rem;
    filter: invert(1); // Make black icons white
    transition: transform 0.2s;

    &:hover {
      transform: translate(2px, 2px);
    }

=======
    margin-right: 1rem;
    width: 2.5rem;
>>>>>>> 83d305b2e572f3c709856668b8e2e8774eb96c8e
    &--mr-none {
      margin-right: 0;
    }
  }

  &__lower {
<<<<<<< HEAD
    padding: 3rem 0;
    border-top: 2px solid $theme-text;
    color: $theme-text-muted;
    font-size: 1.4rem;
    text-align: center;
    font-family: $heading-font;

    a {
      text-decoration: none;
      font-weight: 700;
      margin-left: 5px;
      color: $theme-primary;
      transition: color 0.3s;

      &:hover {
        color: $theme-white;
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }
    }
  }
}
=======
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1.2rem;
    text-align: left;
    text-align: center;
    a {
      text-decoration: underline;
      font-weight: bold;
      margin-left: 2px;
    }
    @include respond(tab-port) {
      padding: 3.5rem 0;
    }
  }
}
>>>>>>> 83d305b2e572f3c709856668b8e2e8774eb96c8e
