.form-success-msg {
    padding: 2rem;
    background: rgba($theme-primary, 0.1);
    border: 2px solid $theme-primary;
    text-align: center;
    color: $theme-primary;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-family: $heading-font;
}